h1 { 
  font-size:50px;
  text-align:center;
  background-color: #00FBFF;
}
body {
  font-size:50px;
  text-align:center;
  background-color:#06C5FE; 
  font-family: 'Courier New', monospace;
}
span { 
  font-weight:bold;
  animation-name:bounce;
  animation-iteration-count:infinite;
  animation-duration:1s;
}
@keyframes bounce {
  from { 
    font-size:50px;
  }
  66% {
  font-size:100px;
  }
    to { 
      font-size:50px;
  }        
}
